@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="http://www.veysonnaz.ch/UserFiles/local-miniatures/UserFiles/wysipage/menu/thumbresize/1700-900/mb-14-lg-FR--mb-2-lg-FR--mb-3-lg-FR--mb-5-lg-FR--7443_freeride-jpg.jpg" />
</div>
