@*@model ReflectionIT.Mvc.Paging.PagingList<coliks.Models.Items>
    @using ReflectionIT.Mvc.Paging
    @addTagHelper *, ReflectionIT.Mvc.Paging*@
@model coliks.Models.GridPagination

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // ViewData["Title"] = "Index";

}
<style>
    .panel-table .panel-footer .pagination {
        margin: 0;
    }

    /*
    used to vertically center elements, may need modification if you're not using default sizes.
    */
    .panel-table .panel-footer .col {
        line-height: 34px;
        height: 34px;
    }

    .active.page {
        background-color: blue;
        color: white;
    }
</style>

<div class="container" id="tbItems">
    @{ Html.RenderPartial("_ItemList", Model);}
</div>


<script src="~/lib/jquery/dist/jquery.js"></script> <!-- Besoin de lier le JQuery ici, autrement il n'est pas reconnu -->
<script src="~/js/paginate.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // initial events binding
        paginate.init();
    })
</script>
