/*
    reset
*/

a{
    text-decoration:none;
}

.btn, input, .card, .page-link{
    border-radius: 0px !important;
}
/*
    Details Page
*/

.block-container {
    position: relative;
    border-radius: 0px;
    padding: 10px;
    margin-top:20px;
}

#customer-total-purchases {
    background-color: sandybrown !important;
}

#customer-details-content {
    background-color: rgba(149, 203, 239, 0.2);  
}

#customer-details-vaucher {
    background-color: rgba(149, 203, 239, 0.2);
}

#customer-details-content #name {
    margin-bottom: 30px;
}

/*
// Clickable row in home page
*/
.customer-clickable-row {
    text-decoration: none;
    cursor: pointer;
}

.customer-clickable-row:hover
{
    background-color:rgb(0, 148, 255,0.3);
    z-index:999 !important;
}

/*
    awesome icons animations
*/

.fas {
    transition: 0.2s;
    text-decoration: none;
}

.fas:hover {
    color: lightseagreen;
    transition: 0.2s;
    transform: scale(1.3);
}

/*
    search bar
*/

.has-search .form-control {
    padding-left: 4.750rem;
}

.form-control-container {
    position: absolute;
    width: 4rem;
    height: 2.375rem;
    z-index: 2;
    color: #aaa;
    background-color: transparent;
    border-right-style: solid;
    border-right-color: lightgray;
    border-right-width:1px;
    cursor: pointer;
}

.form-control-feedback:first-child {
    z-index: 2;
    width: 2rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
    background-color: transparent;
    border-style: none;
    border-color: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-control-feedback:last-child {
    z-index: 2;
    width: 2rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
    background-color: transparent;
    border-style: none;
    border-color: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-control-feedback:last-child:hover {
    color: rebeccapurple;
    transform: scale(1.4);
    transition: 0.3s;
    border: none;
}

.form-control-feedback:first-child:hover {
    color: rebeccapurple;
    transform: scale(1.4);
    transition: 0.3s;
    border: none;
}

#customer-purchase-details {
    background-color: rgba(149, 203, 239, 0.2);
}

#customer-purchase-details table thead {
    background-color: rgba(225, 207, 181,0.5);
}

/* Css for vaucher print page*/

@media print {
    body {
        font-size: 42px;
        line-height: 1.3;
        margin: 1.6cm;
    }

    header, footer{
        display:none;
    }
    
    @page {
        margin: 0mm;
    }
}

