@model coliks.Models.Contracts

@{
    ViewData["Title"] = "Create";
}

<div id="AlertMessage" class="alert alert-danger" role="alert" style="display: none;">

</div>

<h1>Create</h1>

<h4>Contracts</h4>
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Nom</label>
                            <select id="LastNames" name="LastNames" class="form-control">
                                @foreach (var LastName in ViewBag.CustomersLastName)
                                {
                                    <option value="@LastName">@LastName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Prénom</label>
                            <select id="FirstName" name="FirstName" disabled class="form-control">
                                <option>Prénom</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Addresse</label>
                            <input id="Address" name="Address" class="form-control" disabled />
                            
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Localité</label>
                            <input id="Locality" name="Address" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">N° de téléphone</label>
                            <input id="Phone" name="Phone" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Mobile</label>
                            <input id="Mobile" name="Mobile" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input id="Email" name="Email" class="form-control" disabled />
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            @Html.DropDownList("HelpStaffId", ViewBag.HelpStaffId, "Staff aidant", new { @class = "form-control" })
                        </div>
                        <div class="col-3">
                            @Html.DropDownList("TuneStaffId", ViewBag.TuneStaffId, "Staff tunant", new { @class = "form-control" })
                        </div>
                        <div class="col-2 offset-4">
                            <button id="NewContract" disabled class="btn btn-primary">Nouveau contrat</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="CustomerContracts" class="row mt-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Total</th>
                        <th scope="col">Consulter</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>

    <div id="ItemsContracts">
        <div id="ItemsContractsTable" class="row mt-5">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">N° d'article</th>
                            <th scope="col">Objet</th>
                            <th scope="col">Catégorie</th>
                            <th scope="col">Durée</th>
                            <th scope="col">Prix</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-2 offset-10">
                <button id="AddItem" class="btn btn-primary">Ajouter item</button>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-2">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="PaidOn">
                <label class="form-check-label" for="PaidOn">
                    Pas payé
                </label>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="PaidOn">
                <label class="form-check-label" for="PaidOn">
                    Pas pris
                </label>
            </div>  
        </div>
        <div class="col-2">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="PaidOn">
                <label class="form-check-label" for="PaidOn">
                    Assurance
                </label>
            </div>
        </div>
        <div class="col-2">
            <div class="form-group">
                <input class="form-check-input" type="checkbox" id="PaidOn">
                <label class="form-check-label" for="PaidOn">
                    Prendre à domicile
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label for="Notes">Notes</label>
                <textarea class="form-control" id="Notes" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-2 offset-10">
            <button id="SubmitContract" class="btn btn-primary">Créer contrat</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<environment include="Development">
    <script src="~/js/ContractCreate.js"></script>
    <link rel="stylesheet" href="~/css/ContractCreate.css" />
</environment>

